@mixin buttonMain{
    font-weight: 800;
    color: white;
    background-color: #603562;
    padding: 10px;
    display: flex;

}
@mixin buttonHover{
    color: white;
    background-color: #b17dad;
}

@mixin clickEvent{

        &:hover{
            background-color:rgb(12, 156, 144);  /* 배경색 */
            color:#fff; 
        }
        &:active{
            background-color:rgb(217, 220, 220);  /* 배경색 */
            color:rgb(8, 8, 8); 
        }
}

