/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
@mixin clickEvent{

        &:hover{
            background-color:rgb(12, 156, 144); 
            color:#fff; 
        }
        &:active{
            background-color:rgb(217, 220, 220);  
            color:rgb(8, 8, 8); 
        }
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* small */
body {
  -ms-overflow-style: scrollbar;
}

@media (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
  .join, .login {
    font-size: 15px;
  }
  .homeLogo {
    font-size: 25px;
  }
  .mainForm span {
    font-size: 30px;
  }
  .mainForm li {
    font-size: 10px;
  }
  .mainForm li img {
    height: 40px;
  }
  .container {
    width: 271px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 112);
  }
  .tab-btn {
    font-size: 0.8rem;
    padding: 0 0.6rem;
  }
}
/* large */
@media screen and (min-width: 481px) {
  .join, .login {
    font-size: 30px;
  }
  .homeLogo {
    font-size: 40px;
  }
  .mainForm {
    /*li{
        font-size: 30px;
        img{
            height: 100px;
        }}*/
  }
  .mainForm h1 {
    font-size: 30px;
  }
  .mainForm span {
    font-size: 60px;
  }
  .container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .tab-btn {
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }
}
/*basic*/
body {
  background: #76acd2;
  height: 100vh;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  grid-template: "header" 1fr "main" 10fr;
}

header {
  display: flex;
  flex-direction: row;
  grid-area: "header";
  padding: 10px 10px;
  justify-content: space-between;
}
header .homeLogo {
  color: #81e4ff;
  font-weight: 700;
  margin: 10px;
}
header .mainBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .mainBtn .login {
  margin: 10px;
  font-weight: 800;
  color: white;
  background-color: #603562;
  padding: 10px;
}
header .mainBtn .login:hover {
  color: white;
  background-color: #b17dad;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: white;
  background-color: #603562;
  padding: 10px;
}
.join:hover {
  color: white;
  background-color: #b17dad;
}

main {
  grid-area: "main";
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .mainForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /*ul{
      padding:5px;
      li{
          font-weight: 700;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 5px;
          padding-bottom: 5px;
          @include clickEvent;
      }}*/
}
main .mainForm span {
  color: #81e4ff;
  font-weight: 700;
}
main .mainForm article {
  margin: 10px;
}
main .mainForm article div img {
  max-width: 100%;
  height: auto;
  display: block;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.button {
  display: flex;
}

.tab-btn {
  background-color: #212931 !important;
  color: #ffffff !important;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 0;
  cursor: pointer;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
}

.tab-btn.active {
  background-color: #18bfef !important;
  color: #ffffff !important;
}
