@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* small */
body {
  -ms-overflow-style: scrollbar;
}

@media (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
  .join, .login {
    font-size: 15px;
  }
  .homeLogo {
    font-size: 25px;
  }
  .mainForm p {
    font-size: 15px;
  }
  .mainForm span {
    font-size: 30px;
  }
  .mainForm li {
    font-size: 10px;
  }
  .mainForm li img {
    height: 40px;
  }
  .container {
    width: 270px;
    justify-content: space-evenly;
  }
}
/* large */
@media screen and (min-width: 481px) {
  .join, .login {
    font-size: 30px;
  }
  .homeLogo {
    font-size: 40px;
  }
  .mainForm h1 {
    font-size: 40px;
  }
  .mainForm p {
    font-size: 40px;
  }
  .mainForm span {
    font-size: 60px;
  }
  .mainForm li {
    font-size: 30px;
  }
  .mainForm li img {
    height: 100px;
  }
  .container {
    width: 700px;
    justify-content: space-evenly;
  }
}
/*basic*/
body {
  background: linear-gradient(#6285bb, #76acd2);
  height: 100vh;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  grid-template: "header" 1fr "main" 10fr;
}

header {
  display: flex;
  flex-direction: row;
  grid-area: "header";
  padding: 10px 10px;
  justify-content: space-between;
}
header .homeLogo {
  color: #7BCCE3;
  font-weight: 700;
  margin: 10px;
}
header .mainBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .mainBtn .login {
  margin: 10px;
  font-weight: 800;
  color: white;
  background-color: #603562;
  padding: 10px;
}
header .mainBtn .login:hover {
  color: white;
  background-color: #b17dad;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: white;
  background-color: #603562;
  padding: 10px;
}
.join:hover {
  color: white;
  background-color: #b17dad;
}

main {
  grid-area: "main";
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .mainForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
main .mainForm span {
  color: #7BCCE3;
  font-weight: 700;
}
main .mainForm ul {
  padding: 5px;
}
main .mainForm ul li {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
main .mainForm ul li:hover {
  background-color: rgb(12, 156, 144); /* 배경색 */
  color: #fff;
}
main .mainForm ul li:active {
  background-color: rgb(217, 220, 220); /* 배경색 */
  color: rgb(8, 8, 8);
}

ul.container {
  display: flex;
}

.addClass {
  display: block;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=myPentry.css.map */
