
@import "_basic.scss";

@media (max-width: 480px) { //480이하인 경우 모바일

    html, body {
        min-width: 320px;
    }
    .homeLogo{
        font-size: 25px;
    }

}


/* large */
@media screen and (min-width: 481px){
    
    .homeLogo{
        font-size: 40px;
    }
}


/*basic*/

body{
    background:#76acd2;
    height: 100vh;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    display: grid;
    grid-template: "header"1fr"main"10fr;
    justify-items: center;
}

header{
    display: flex;
    flex-direction:row;
    //item을 무조건 한줄에 두기
    padding: 10px 10px;
    .homeLogo{
        color: #81e4ff;
        font-weight: 700;
        margin: 10px;
        }
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    #signUpBox{
        border-radius: 10px;
        margin: 20px;
        background: rgba(0,0,0,.5);
        box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
        border-radius: 10px;
        padding: 15%;
        form{
            display: flex;
            flex-direction: column;
        }
    }
}

.hidden{
    display: none;
}
.block{
    display: block;
}